body,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  --skew: -10deg;
  font-size: 1rem;
  background: black;
  color: white;
  padding: 5em 0;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h1,
h2,
.table-container {
  transform: skewY(var(--skew));
  transform-origin: 0 0;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 0.25em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 1em;
}

sup {
  font-size: 0.6em;
  text-transform: uppercase;
}

ul {
  font-size: 1.2em;
  line-height: 1;
}

@media (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 5em;
  }
}

header,
main {
  margin: 0 auto;
  max-width: 48em;
  width: 95%;
}

div#container {
  display: flex;
  flex-wrap: wrap;
  margin: -1em;
}

div#container section {
  margin: 1em;
  transform-origin: 0 0;
  transform: skewY(var(--skew));
  transition: transform 100ms ease-in-out;
  width: calc(50% - 2em);
}

@media (min-width: 600px) {
  div#container section {
    width: calc(33.333% - 2em);
  }
}

@media (min-width: 1024px) {
  div#container section {
    max-width: 10em;
    width: calc(25% - 2em);
  }
}

section div.stats {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li strong {
  align-items: center;
  display: flex;
}

ul li.line {
  border-bottom: 0.125em solid;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
ul li.double-line {
  border-bottom: 0.125em solid;
  margin-bottom: 0.5em;
  padding-bottom: 0.0625em;
  border-top: 0.125em solid;
  margin-top: 0.5em;
  padding-top: 0.0625em;
}
ul li.label {
  font-size: 0.7em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.table-container {
  margin-top: 10em;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1em 0;
  width: 100%;
}
#table-info {
  font-size: 0.8em;
  font-weight: bold;
  left: 0;
  margin: 0.5em 0 0;
  position: sticky;
}

table {
  border-collapse: collapse;
  cursor: pointer;
  font-size: 0.8em;
}

table thead {
  font-size: 0.7em;
}

th button {
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  text-align: inherit;
  width: 100%;
}

th,
td {
  line-height: 1;
  padding: 0.35em 0.5em;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: right;
}

tr:nth-of-type(odd) td {
  background: rgba(255, 255, 255, 0.2);
}

tr[data-player="Team"] {
  font-weight: bold;
}

td sup {
  font-size: 0.5em;
}

tr th:first-child,
tr td:first-child {
  background: black;
  color: white;
  left: 0;
  position: sticky;
  text-align: left;
  z-index: 9;
}

tr.active td,
tr td.active {
  background: white;
  color: black;
}
